<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="footer-contant">
                <p>Сайт работает в тестовом режиме</p>
            </div>
        </div>
    </div>

</footer>