<header class="header">
    <div class="container">
        <div class="row">
            <div class="login-menu menu">
                <div class="navbar-brand"><img class="logo" src="img/lift.png" alt="LiftApp">LiftApp</div>
                <div class="menu-items">
                    <ul>
                        <li><a class="login">Войти</a></li>
                        <li><a class="registr">Зарегистрироваться</a></li>
                    </ul>
                </div>
            </div>

            <button class="toggle-menu">
              <span class="sandwich">
                  <span class="sw-topper"></span>
                  <span class="sw-bottom"></span>
                  <span class="sw-footer"></span>
              </span>
            </button>
            <div class="top-menu" style="display: none;">
                <ul>
                    <li><a class="login">Войти</a></li>
                    <li><a class="registr">Зарегистрироваться</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>